<%= erb :flash_message %>

<form action="/login" method="post">
    <label for="username">Username: </label>
    <br />
    <input type="text" name="admin[username]" id="username" />
    <br />
    <br />
    <label for="password">Password: </label>
    <br />
    <input type="password" name="admin[password]" id="password" />
    <br />
    <br />
    <input type="submit" name="login" value="Login" />

</form>