<%= erb :flash_message %>
<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Resale Shift Tracker</h2>

    <div class="content">
      <p>Admin, get your shift spreadsheet handy and let your workers login on the computer. Then once they are done, you will have a list of percentages. </p>  
    </div>

    <div class="sidebar">
     
    </div>

  </div>
</div>
